DATABASE_URL="postgresql://neondb_owner:npg_m2UhQxte7rES@ep-wandering-credit-aimjoqix-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
 
JWT_SECRET="09PG-dFPzLTac3g0n3U-OXxY0ombDKMAZ1qKsEwvpXyUNoHj85zgqS9P0MJZQfFV"